.cont {
    /* display: grid;
    grid-template-columns: repeat(3, 240px); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1rem;
    /* width: fit-content; */
    margin: 0 auto;
    margin-right: 10px;
    padding-left: 20px;
}


.cardorden {

    border: solid 1px #c3c3c3;
    border-radius: 0.5rem;
    width: 250px;
    padding: 0.5rem 1rem;
    position: relative;
    
    height: 350px;
}

.cardorden:hover {
    background-color: rgb(247, 247, 245);
    /* color: #2c2b2be3; */
    color: #0e4c9ee3;
  }

img {
    width: 100% ;
    object-fit: fill;
}